

#lbl2{

    color: #fff;
    font-size: 5vh;
    justify-content: center;
    margin: 5vh;
    font-weight: bold;
    display: flex;

}

h1{

    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}